/* header {
  margin: 10px;
}
header nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 4vw;
}



 */
